<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Bulma Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/7f0d9d0e8f.js" crossorigin="anonymous"></script>
    <style>
        .bg-white { /*Not actually white*/
            background-color: whitesmoke;
            color: black;
        }
        .shelf {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
        .shelf li {
          background-color: white;
          padding: 1rem;
          border-radius: 0.5rem;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          width: 150px;
          cursor: pointer;
        } 
        .shelf h3 {
          margin: 0;
          font-size: 1.25rem;
          font-weight: bold;
        }
        .shelf .priority {
          text-align: right;
          font-size: 1rem;
          color: #666;
        }
    </style>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                Bulma: a<br> modern CSS <!--Unsure how to get the text to be aligned weirdly like in the example-->
            </a>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="https://bulma.io">
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="https://bulma.io/documentation/overview/start/"> <!--Many of these links are dead but that's what the example has-->
                            Docs
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                                Overview
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                                Modifiers
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                                Columns
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                                Layout
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                                Form
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                                Elements
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/components/breadcrumb/">
                                Components
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end"> <!--No idea why it's not right aligned-->
                    <div class="navbar-item">
                        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://x.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>
                            Tweet
                            </span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.3/bulma-0.9.3.zip">
                            <span class="icon">
                                <i class="fas fa-download"></i>
                            </span>
                            <span>
                                Download
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="columns is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                            <p class="class card-header-title">
                                Component
                            </p>
                            <button class="class card-header-icon">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                                <a href="#">#responsive</a>
                                <br />
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>

                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Save</a>
                            <a href="#" class="card-footer-item">Edit</a>
                            <a href="#" class="card-footer-item">Delete</a>
                          </footer>
                    </div>
                </div>
                
            </div>
<br>
            <div class="section bg-white" id="app">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <!--{{ message }} <!--Debug line-->
                        <ul class="shelf">
                            <li v-for="task in tasks" @click="addToDone(task)">
                                <h3>{{ task.name }}</h3>
                                <p class="priority">{{ task.priority }}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>Priority</th>
                                <th>Times Completed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in done">
                                <td>{{ item.task.name }}</td>
                                <td>{{ item.task.priority }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp, ref } = Vue

            createApp({
                setup() {
                    const message = ref("Hello world")
                    
                    const tasks = ref([
                        { name: 'Do 5 Jumping Jacks', priority: "High" },
                        { name: "Defeat the Joker", priority: "Low" },
                        { name: "Check Pull Requests", priority: "High" },
                        { name: "Check Issues", priority: "Medium" },
                        { name: "Draw a comic strip", priority: "Low" },
                        { name: "Study for Biology", priority: "Medium" },
                        { name: "Catch up to that initial bulma example (IMPORTANT)", priority: "Very Low" },
                        { name: "Eat some croutons", priority: "Vital" },
                        { name: "Take a nap", priority: "High" }
                    ])

                    const done = ref([])

                    function addToDone(task) {
                        const item = done.value.find(item => item.task.name === task.name)
                        if(item) {
                            item.quantity++
                        } else {
                            done.value.push({ task, quantity: 1 })
                        }
                    }

                    return {
                        message, tasks, done, addToDone
                    }
                }
            }).mount('#app')
        </script>
</body>
</html>